<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the Restaurant App</title>
</head>
<body class="opener">
  <button class="button" onclick="location.href='<%= restaurants_path %>'">Bem Vindo Às Diárias!</button>
</body>
</html>
